*{
	padding: 0; margin: 0;
}

:root{
	--color-black: #0E0909;
	--color-white: #FFFFFF;
	--color-red: #CB4E50;
	--color-bg: #FBF7F7;
}

a{
	color: var(--color-black);
	text-decoration: none;
}

body{
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 18px;
	font-weight: normal;
	color: var(--color-black);
	margin: 0;
	background-color: var(--color-bg);
}

.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 80px;
	box-sizing: border-box;
	margin: 0px auto;
	max-width: 100%;
	color: var(--color-white);
}

.header__wrap{
	background-color: #A54042;
	position: relative;
	top: 0px;
}

.logotype{
	display: flex;
	flex-direction: row;
}

.logotype_img{
	margin: auto 8px auto 0px;
}

.logotype_text{
	color: var(--color-white);
	font-size: 16px;
	font-weight: bold;
	line-height: 85%;
}

.menu{
	display: flex;
	list-style: none;
}

li{
	list-style: none;
}

.menu li{
	margin-right: 16px;
}

.menu li:last-child{
	margin-right: 0px;
}

.tittle_background__warp{
	position: relative;
	width: 100%;
	height: 335px;
	background-color: var(--color-red);
}

.tittle_background_mini__warp{
	position: relative;
	width: 100%;
	height: 245px;
	background-color: var(--color-red);
}

.big_patterns_bg{
	position: absolute;
	bottom: 0px;
	left: 60px;
	right: 60px;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.pattern_line_bg {
	position: absolute;
	bottom: -1px;
	display: flex;
}

.pattern_line_bg img{
	width: 100%; /* Ширина изображений */
	height: 90px; /* Высота изображении */
	object-fit: cover; /* Вписываем фотографию в область */
}

.container{
	width: 1224px;
	margin: 0 auto;
}

.form_trasnlation{
	background-color: var(--color-white);
	margin: 0;
	border-radius: 2px;
	box-shadow: 0px 4px 20px 20px rgba(104, 59, 60, 0.05);
}

.form_translation_header{
	width: 600px;
	height: 50px;
	display: flex;
	align-items: center;
	border-bottom: 0.5px solid #D0D0D0;
}

.form_translation_header p{
	margin: 0 auto;
}

.content_index__wrap{
	position: relative;
	top: -260px;
}

.forms{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.translation__wrap{
	position: relative;
	margin-bottom: 48px;
}

.form_translation_body{
	display: flex;
	flex-direction: row;
	padding: 20px 15px 16px 30px;
	justify-content: space-between;
	flex: 1;
}

.form_translation_body textarea{
	width: 480px;
	min-height: 200px;
	height: auto;
	border: 0px;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 28px;
	font-weight: normal;
	resize: vertical;
}

.form_translation_body textarea::placeholder{
	width: 480px;
	height: 70px;
	border: 0px;
	color: #C2C1C1;
}

.form_translation_body textarea:focus{
	color: var(--color-black);
	outline: 0;
	vertical-align: top;
}

.icon_button{
	width: 44px;
	height: 44px;
	display: block;
	border-radius: 99999px;
	transition-duration: 0.3s;
}

.icon_button svg{
	width: 20px;
	height: 20px;
	padding: 12px;
}

.icon_button img{
	width: 20px;
	height: 20px;
	padding: 12px;
}

.icon_button svg path{
	fill: #868484;
}

.icon_button:hover{
	background-color: rgba(203, 78, 80, 0.1);
}

.form_translation_footer{
	padding: 0 15px 15px 15px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0;
}

.form_footer_menu{
	display: flex;
	flex-shrink: row;
}

.number_of_characters{
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 14px;
	color: #D1D0D0;
	margin-right: 8px;
}

.translation_result{
	width: 480px;
	height: 200px;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 28px;
	font-weight: normal;
}


.translation_result2{
	width: 480px;
	flex: 1;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 28px;
	font-weight: normal;
	min-height: 200px;
}

.change_translation__wrap{
	display: flex;
	justify-content: center;
	height: 44px;
	width: 0px;
	top: 3px;
	position: relative;
}

.change_translation{
	position: sticky;
	top: -6100px;
	background-color: var(--color-white);
	box-shadow: 0px 4px 20px 20px rgba(0, 0, 0, 0.07);
	border-radius: 99999px;
	transition-duration: 0.3s;
}

.change_translation svg{
	width: 20px;
	height: 20px;
	padding: 12px;
	transition-duration: 0.3s;
}

.change_translation:hover svg path{
	fill: var(--color-red);
	transition-duration: 0.3s;
}

.additinionals__wrap{
	margin-bottom: 48px;
}

.additinionals__wrap .container{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.examples_translation__wrap{
	margin-right: 24px;
}

.translation_wrap{
	margin-bottom: 48px;
}

.examples_translation__wrap{
	width: 600px;
}

.dict__wrap{
	width: 600px;
}

h1{
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 24px;
	font-weight: bold;
	color: var(--color-black);
	margin-bottom: 24px;
}

h2{
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 18px;
	font-weight: bold;
	color: var(--color-black);
	margin-bottom: 16px;
}

.target_example{
	background-color: #F6E7E7;
	color: var(--color-red);
	display: inline;
	border-radius: 2px;
}

.examples_translation__wrap ul{
	border-left: 1px solid var(--color-red);
	padding-left: 12px;
	margin-bottom: 16px;
}

.examples_translation__wrap ul:last-child{
	margin-bottom: 0px;
}

.dict__wrap ul li p{
	display: inline;
}

.number_dict{
	font-size: 14px;
	color: #847F80;
}

.dict_translation{
	padding: 6px 4px;
	background-color: #F6E7E7;
	color: var(--color-red);
	border-radius: 2px;
}

.dict__wrap ul{
	display: flex;
	flex-direction: column;
}

.dict__wrap ul li{
	display: inline;
	margin-bottom: 28px;
}

.dict__wrap ul li:last-child{
	display: inline;
	margin-bottom: 0px;
}

.dict_translation:hover{
	padding: 6px 4px;
	background-color: #EFC2C2;
	color: var(--color-red);
	border-radius: 2px;
}

.history{
	display: flex;
}

.history li{
	display: block;
	padding: 12px;
	background-color: #F6E7E7;
}

.history li:hover{
	background-color: #EED2D2;
	transition-duration: 0.15s;
}

.history li a p{
	display: inline;
}

.history a{
	border-radius: 2px;
}

.history_source{
	font-weight: bold;
}

.history li{
	margin-right: 16px;
}

.history li:hover{
	margin-right: 16px;
}

.menu li a{
	color: var(--color-white);
}

.menu li a:hover{
	color: #EED2D2;
	transition-duration: 0.3s;
}

.logotype:hover .logotype_text{
	color: #EED2D2;
	transition-duration: 0.3s;
}

.logotype:hover .logotype_img svg path{
	fill: #EED2D2;
	transition-duration: 0.3s;
}

.keyboard__wrap{
	position: fixed;
	display: flex;
	justify-content: center;
	bottom: 0;
	background-color: var(--color-red);
	width: 100%;
}

.keyboard{
    padding: 24px 0;
    width: 704px;
}

.keyboard li{
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
}

.keyboard li:last-child{
	margin-bottom: 0px;
}

.keyboard_button{
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 42px;
	min-height: 42px;
	text-align: center;
	vertical-align: middle;
	color: var(--color-black);
	background-color: var(--color-white);
	border-radius: 2px;
	margin-right: 6px;
	transition-duration: 0.2s;
}

.keyboard_button:last-child{
	margin-right: 0px;
}

.keyboard_button:hover{
	background-color: #FFDDDD;
}

.fill{
	width: 100%;
}

.space{
	color: #C2C1C1;
}

.active{
	background-color: #FFDDDD;
}

.mans{
	background-image: url("../images/bg_mans.svg");
}

.pop_up__wrap{
	background-color: rgba(0, 0, 0, 0.75);
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
}

.cross svg path{
	fill: var(--color-white);
}

.cross svg{
	width: 64px;
	height: 64px;
}

.cross{
	width: 124px;
	height: 124px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cross__wrap{
	top: 24px;
	right: 24px;
	display: flex;
	justify-content: right;
	position: absolute;
}

.window_pop_up__wrap{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.pop_up_content{
	display: flex;
	flex-direction: column;
	background-color: var(--color-white);
	padding: 24px 32px;
	border-radius: 2px;
	align-items: center;
}

.pop_up_content h1{
	margin-bottom: 16px;
	text-align: center;
	color: var(--color-red);
}

.pop_up_content p{
	margin-bottom: 16px;
	width: 390px;
	text-align: center;
}

.pop_up_content textarea{
	margin-bottom: 16px;
	height: auto;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 18px;
	font-weight: normal;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	padding: 12px 20px;
	outline: none;
	resize: vertical;
	width: 440px;
	height: 176px;
}

.pop_up_content .button_red{
	width: 480px;
}

.button_red{
	background-color: var(--color-red);
	padding: 12px 20px;
	border-radius: 2px;
	border: 0px;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 20px;
	font-weight: regular;
	color: var(--color-white);
	transition-duration: 0.2s;
	cursor: pointer;
}

.button_red:hover{
	background-color: #E8686A;
}

.pop_up_content ul li svg{
	width: 48px;
	height: 48px;
}

.pop_up_content ul li path{
	fill: #FCEEC8;
}

.pop_up_content ul li path:hover{
	fill: #F5BD23;
}

.pop_up_content ul{
	display: flex;
	flex-direction: row;
	margin-bottom: 16px;
}

.pop_up_content ul li{
	margin-right: 16px;
}

.pop_up_content ul li:last-child{
	margin-right: 0;
}

.tittle__wrap{
	position: absolute;
	width: 100%;
	top: 115px;
}

.tittle__wrap h1{
	color: var(--color-white);
	font-size: 48px;
	margin-bottom: 0;
	display: flex;
	justify-content: center;
}

.form__wrap .container{
	width: 392px;
	margin-bottom: 360px;
}

.form_add_translation ul li{
	display: flex;
	flex-direction: column;
	margin-bottom: 12px;
	align-items: center;
}


.form_add_translation ul li label{
	margin-bottom: 6px;
	font-size: 14px;
}

.form_add_translation ul li:last-child{
	margin-bottom: 0;
}

.form_add_translation h2{
	font-size: 28px;
	color: var(--color-red);
	text-align: center;
	margin-bottom: 12px;
}

.form_add_translation p{
	text-align: center;
	margin-bottom: 24px;
}

.form_add_translation ul li input{
	height: auto;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 20px;
	font-weight: normal;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	padding: 12px 20px;
	outline: none;
	width: 352px;
}

.form_add_translation ul li input:focus{
	border: 1px solid rgba(203, 78, 100, 1.0);
}

.form_add_translation ul li select{
	height: auto;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 20px;
	font-weight: normal;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	padding: 12px 20px;
	outline: none;
	width: 392px;
}

.form_add_translation ul li select:focus{
	border: 1px solid rgba(203, 78, 100, 1.0);
}

.form_add_translation button{
	width: 100%;
}

.levers{
	display: flex;
	flex-direction: row;
}

.button_lever{
	margin-right: 12px;
	background-color: var(--color-white);
	padding: 12px 20px;
	border-radius: 2px;
	border: 0px;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 20px;
	font-weight: regular;
	color: var(--color-black);
	transition-duration: 0.2s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	min-width: 190px;
}

.button_lever:hover{
	background-color: #FFDDDD;
}

.active_lever{
	background-color: var(--color-red);
	color: var(--color-white);
}

.active_lever:hover{
	background-color: #E8686A;
}


.button_lever:last-child{
	margin-right: 0px;
}

.search__wrap {
	margin-bottom: 48px;
}

.search__wrap .container {
	width: 808px;
	margin: 0 auto;
}

.form_search ul li input {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 20px;
	font-weight: normal;
	outline: none;
	border: none;
	width: 100%;
	padding-left: 18px;
}

.form_search ul li {
	display: flex;
	flex-direction: row;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	width: 808px;
}

.form_search h2{
	font-size: 28px;
	color: var(--color-red);
	text-align: center;
	margin-bottom: 12px;
}

.form_search p{
	text-align: center;
	margin-bottom: 24px;
}

.form_search ul li button {
	outline: none;
	border-radius: none;
	padding: 12px;
	border: none;
	cursor: pointer;
	background: var(--color-white);
	transition-duration: 0.2s;
}

.form_search ul li button svg path{
	transition-duration: 0.2s;
}

.form_search ul li button:hover svg path{
	fill: var(--color-red);
	transition-duration: 0.2s;
}

.mini8 {
	width: 808px;
}

.links li {
	display: flex;
	flex-direction: row;
}

.form_links h2{
	font-size: 28px;
	color: var(--color-red);
	text-align: left;
	margin-bottom: 12px;
}

.form_links p{
	text-align: left;
	margin-bottom: 24px;
}

.link {
	font-weight: 600;
	color: var(--color-red);
	text-decoration: underline;
}

.links li p {
	margin-left: 6px;
}