		<ul class="keyboard" id="keyboard-russian-upper">
			<li>
				<a class="keyboard_button">Ё</a>
				<a class="keyboard_button">1</a>
				<a class="keyboard_button">2</a>
				<a class="keyboard_button">3</a>
				<a class="keyboard_button">4</a>
				<a class="keyboard_button">5</a>
				<a class="keyboard_button">6</a>
				<a class="keyboard_button">7</a>
				<a class="keyboard_button">8</a>
				<a class="keyboard_button">9</a>
				<a class="keyboard_button">0</a>
				<a class="keyboard_button">-</a>
				<a class="keyboard_button">=</a>
				<a class="keyboard_button fill">←</a>
			</li>
			<li>
				<a class="keyboard_button" style="min-width: 70px;">⇆</a>
				<a class="keyboard_button">Й</a>
				<a class="keyboard_button">Ц</a>
				<a class="keyboard_button">У</a>
				<a class="keyboard_button">К</a>
				<a class="keyboard_button">Е</a>
				<a class="keyboard_button">Н</a>
				<a class="keyboard_button">Г</a>
				<a class="keyboard_button">Ш</a>
				<a class="keyboard_button">Щ</a>
				<a class="keyboard_button">З</a>
				<a class="keyboard_button">Х</a>
				<a class="keyboard_button">Ъ</a>
				<a class="keyboard_button fill">\</a>
			</li>
			<li>
				<a class="keyboard_button fill active">⟰</a>
				<a class="keyboard_button">Ф</a>
				<a class="keyboard_button">Ы</a>
				<a class="keyboard_button">В</a>
				<a class="keyboard_button">А</a>
				<a class="keyboard_button">П</a>
				<a class="keyboard_button">Р</a>
				<a class="keyboard_button">О</a>
				<a class="keyboard_button">Л</a>
				<a class="keyboard_button">Д</a>
				<a class="keyboard_button">Ж</a>
				<a class="keyboard_button">Э</a>
				<a class="keyboard_button fill">↲</a>
			</li>
			<li>
				<a class="keyboard_button fill">⇑</a>
				<a class="keyboard_button">Я</a>
				<a class="keyboard_button">Ч</a>
				<a class="keyboard_button">С</a>
				<a class="keyboard_button">М</a>
				<a class="keyboard_button">И</a>
				<a class="keyboard_button">Т</a>
				<a class="keyboard_button">Ь</a>
				<a class="keyboard_button">Б</a>
				<a class="keyboard_button">Ю</a>
				<a class="keyboard_button">.</a>
				<a class="keyboard_button fill">⇑</a>
			</li>
			<li>
				<a class="keyboard_button" style="min-width: 130px;">rus</a>
				<a class="keyboard_button fill space">РУССКИЙ</a>
			</li>
		</ul>