<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Переводчик мансийского языка</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
	<section class="keyboard__wrap">
		<ul class="keyboard">
			<li>
				<a href="" class="keyboard_button">Ё</a>
				<a href="" class="keyboard_button">!</a>
				<a href="" class="keyboard_button">"</a>
				<a href="" class="keyboard_button">№</a>
				<a href="" class="keyboard_button">;</a>
				<a href="" class="keyboard_button">%</a>
				<a href="" class="keyboard_button">:</a>
				<a href="" class="keyboard_button">?</a>
				<a href="" class="keyboard_button">*</a>
				<a href="" class="keyboard_button">(</a>
				<a href="" class="keyboard_button">)</a>
				<a href="" class="keyboard_button">_</a>
				<a href="" class="keyboard_button">+</a>
				<a href="" class="keyboard_button fill">←</a>
			</li>
			<li>
				<a href="" class="keyboard_button" style="min-width: 70px;">⇆</a>
				<a href="" class="keyboard_button">Й</a>
				<a href="" class="keyboard_button">Ц</a>
				<a href="" class="keyboard_button">У</a>
				<a href="" class="keyboard_button">К</a>
				<a href="" class="keyboard_button">Е</a>
				<a href="" class="keyboard_button">Н</a>
				<a href="" class="keyboard_button">Г</a>
				<a href="" class="keyboard_button">Ш</a>
				<a href="" class="keyboard_button">Щ</a>
				<a href="" class="keyboard_button">З</a>
				<a href="" class="keyboard_button">Х</a>
				<a href="" class="keyboard_button">Ъ</a>
				<a href="" class="keyboard_button fill">\</a>
			</li>
			<li>
				<a href="" class="keyboard_button fill">⟰</a>
				<a href="" class="keyboard_button">Ф</a>
				<a href="" class="keyboard_button">Ы</a>
				<a href="" class="keyboard_button">В</a>
				<a href="" class="keyboard_button">А</a>
				<a href="" class="keyboard_button">П</a>
				<a href="" class="keyboard_button">Р</a>
				<a href="" class="keyboard_button">О</a>
				<a href="" class="keyboard_button">Л</a>
				<a href="" class="keyboard_button">Д</a>
				<a href="" class="keyboard_button">Ж</a>
				<a href="" class="keyboard_button">Э</a>
				<a href="" class="keyboard_button fill">↲</a>
			</li>
			<li>
				<a href="" class="keyboard_button fill active">⇑</a>
				<a href="" class="keyboard_button">Я</a>
				<a href="" class="keyboard_button">Ч</a>
				<a href="" class="keyboard_button">С</a>
				<a href="" class="keyboard_button">М</a>
				<a href="" class="keyboard_button">И</a>
				<a href="" class="keyboard_button">Т</a>
				<a href="" class="keyboard_button">Ь</a>
				<a href="" class="keyboard_button">Б</a>
				<a href="" class="keyboard_button">Ю</a>
				<a href="" class="keyboard_button">.</a>
				<a href="" class="keyboard_button fill active">⇑</a>
			</li>
			<li>
				<a href="" class="keyboard_button" style="min-width: 130px;">rus</a>
				<a href="" class="keyboard_button fill space">РУССКИЙ</a>
			</li>
		</ul>
	</section>
</body>
</html>