		<ul class="keyboard" id="keyboard-mansi-shift">
			<li>
				<a class="keyboard_button mans">Ё̄</a>
				<a class="keyboard_button">!</a>
				<a class="keyboard_button">"</a>
				<a class="keyboard_button">№</a>
				<a class="keyboard_button">;</a>
				<a class="keyboard_button">%</a>
				<a class="keyboard_button">:</a>
				<a class="keyboard_button">?</a>
				<a class="keyboard_button">*</a>
				<a class="keyboard_button">(</a>
				<a class="keyboard_button">)</a>
				<a class="keyboard_button">_</a>
				<a class="keyboard_button">+</a>
				<a class="keyboard_button fill">←</a>
			</li>
			<li>
				<a class="keyboard_button" style="min-width: 70px;">⇆</a>
				<a class="keyboard_button">Й</a>
				<a class="keyboard_button">Ц</a>
				<a class="keyboard_button mans">Ӯ</a>
				<a class="keyboard_button">К</a>
				<a class="keyboard_button mans">Ē</a>
				<a class="keyboard_button">Н</a>
				<a class="keyboard_button">Г</a>
				<a class="keyboard_button">Щ</a>
				<a class="keyboard_button">Щ</a>
				<a class="keyboard_button">З</a>
				<a class="keyboard_button">Х</a>
				<a class="keyboard_button">Ъ</a>
				<a class="keyboard_button fill">\</a>
			</li>
			<li>
				<a class="keyboard_button fill">⟰</a>
				<a class="keyboard_button">Ф</a>
				<a class="keyboard_button mans">Ы̄</a>
				<a class="keyboard_button">В</a>
				<a class="keyboard_button mans">А̄</a>
				<a class="keyboard_button">П</a>
				<a class="keyboard_button">Р</a>
				<a class="keyboard_button mans">О̄</a>
				<a class="keyboard_button">Л</a>
				<a class="keyboard_button">Д</a>
				<a class="keyboard_button">Ж</a>
				<a class="keyboard_button mans">Э̄</a>
				<a class="keyboard_button fill">↲</a>
			</li>
			<li>
				<a class="keyboard_button fill active">⇑</a>
				<a class="keyboard_button mans">Я̄</a>
				<a class="keyboard_button">Ч</a>
				<a class="keyboard_button">С</a>
				<a class="keyboard_button">М</a>
				<a class="keyboard_button mans">Ӣ</a>
				<a class="keyboard_button">Т</a>
				<a class="keyboard_button">Ь</a>
				<a class="keyboard_button">Б</a>
				<a class="keyboard_button mans">Ю̄</a>
				<a class="keyboard_button">.</a>
				<a class="keyboard_button fill active">⇑</a>
			</li>
			<li>
				<a class="keyboard_button" style="min-width: 130px;">man</a>
				<a class="keyboard_button fill space">МАНСИЙСКИЙ</a>
			</li>
		</ul>