		<ul class="keyboard" id="keyboard-mansi-lower">
			<li>
				<a class="keyboard_button mans">ё̄</a>
				<a class="keyboard_button">1</a>
				<a class="keyboard_button">2</a>
				<a class="keyboard_button">3</a>
				<a class="keyboard_button">4</a>
				<a class="keyboard_button">5</a>
				<a class="keyboard_button">6</a>
				<a class="keyboard_button">7</a>
				<a class="keyboard_button">8</a>
				<a class="keyboard_button">9</a>
				<a class="keyboard_button">0</a>
				<a class="keyboard_button">-</a>
				<a class="keyboard_button">=</a>
				<a class="keyboard_button fill">←</a>
			</li>
			<li>
				<a class="keyboard_button" style="min-width: 70px;">⇆</a>
				<a class="keyboard_button">й</a>
				<a class="keyboard_button">ц</a>
				<a class="keyboard_button mans">ӯ</a>
				<a class="keyboard_button">к</a>
				<a class="keyboard_button mans">ē</a>
				<a class="keyboard_button mans">ӈ</a>
				<a class="keyboard_button">г</a>
				<a class="keyboard_button">ш</a>
				<a class="keyboard_button">щ</a>
				<a class="keyboard_button">з</a>
				<a class="keyboard_button">х</a>
				<a class="keyboard_button">ъ</a>
				<a class="keyboard_button fill">\</a>
			</li>
			<li>
				<a class="keyboard_button fill">⟰</a>
				<a class="keyboard_button">ф</a>
				<a class="keyboard_button mans">ы̄</a>
				<a class="keyboard_button">в</a>
				<a class="keyboard_button mans">а̄</a>
				<a class="keyboard_button">п</a>
				<a class="keyboard_button">р</a>
				<a class="keyboard_button mans">о̄</a>
				<a class="keyboard_button">л</a>
				<a class="keyboard_button">д</a>
				<a class="keyboard_button">ж</a>
				<a class="keyboard_button mans">э̄</a>
				<a class="keyboard_button fill">↲</a>
			</li>
			<li>
				<a class="keyboard_button fill">⇑</a>
				<a class="keyboard_button mans">я̄</a>
				<a class="keyboard_button">ч</a>
				<a class="keyboard_button">с</a>
				<a class="keyboard_button">м</a>
				<a class="keyboard_button mans">ӣ</a>
				<a class="keyboard_button">т</a>
				<a class="keyboard_button">ь</a>
				<a class="keyboard_button">б</a>
				<a class="keyboard_button mans">ю̄</a>
				<a class="keyboard_button">.</a>
				<a class="keyboard_button fill">⇑</a>
			</li>
			<li>
				<a class="keyboard_button" style="min-width: 130px;">man</a>
				<a class="keyboard_button fill space">МАНСИЙСКИЙ</a>
			</li>
		</ul>