<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Переводчик мансийского языка</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
	<section class="keyboard__wrap">
		<ul class="keyboard">
			<li>
				<a href="" class="keyboard_button mans">ё̄</a>
				<a href="" class="keyboard_button">1</a>
				<a href="" class="keyboard_button">2</a>
				<a href="" class="keyboard_button">3</a>
				<a href="" class="keyboard_button">4</a>
				<a href="" class="keyboard_button">5</a>
				<a href="" class="keyboard_button">6</a>
				<a href="" class="keyboard_button">7</a>
				<a href="" class="keyboard_button">8</a>
				<a href="" class="keyboard_button">9</a>
				<a href="" class="keyboard_button">0</a>
				<a href="" class="keyboard_button">-</a>
				<a href="" class="keyboard_button">=</a>
				<a href="" class="keyboard_button fill">←</a>
			</li>
			<li>
				<a href="" class="keyboard_button" style="min-width: 70px;">⇆</a>
				<a href="" class="keyboard_button">й</a>
				<a href="" class="keyboard_button">ц</a>
				<a href="" class="keyboard_button mans">ӯ</a>
				<a href="" class="keyboard_button">к</a>
				<a href="" class="keyboard_button mans">ē</a>
				<a href="" class="keyboard_button mans">ӈ</a>
				<a href="" class="keyboard_button">г</a>
				<a href="" class="keyboard_button">ш</a>
				<a href="" class="keyboard_button">щ</a>
				<a href="" class="keyboard_button">з</a>
				<a href="" class="keyboard_button">х</a>
				<a href="" class="keyboard_button">ъ</a>
				<a href="" class="keyboard_button fill">\</a>
			</li>
			<li>
				<a href="" class="keyboard_button fill">⟰</a>
				<a href="" class="keyboard_button">ф</a>
				<a href="" class="keyboard_button mans">ы̄</a>
				<a href="" class="keyboard_button">в</a>
				<a href="" class="keyboard_button mans">а̄</a>
				<a href="" class="keyboard_button">п</a>
				<a href="" class="keyboard_button">р</a>
				<a href="" class="keyboard_button mans">о̄</a>
				<a href="" class="keyboard_button">л</a>
				<a href="" class="keyboard_button">д</a>
				<a href="" class="keyboard_button">ж</a>
				<a href="" class="keyboard_button mans">э̄</a>
				<a href="" class="keyboard_button fill">↲</a>
			</li>
			<li>
				<a href="" class="keyboard_button fill">⇑</a>
				<a href="" class="keyboard_button mans">я̄</a>
				<a href="" class="keyboard_button">ч</a>
				<a href="" class="keyboard_button">с</a>
				<a href="" class="keyboard_button">м</a>
				<a href="" class="keyboard_button mans">ӣ</a>
				<a href="" class="keyboard_button">т</a>
				<a href="" class="keyboard_button">ь</a>
				<a href="" class="keyboard_button">б</a>
				<a href="" class="keyboard_button mans">ю̄</a>
				<a href="" class="keyboard_button">.</a>
				<a href="" class="keyboard_button fill">⇑</a>
			</li>
			<li>
				<a href="" class="keyboard_button" style="min-width: 130px;">man</a>
				<a href="" class="keyboard_button fill space">МАНСИЙСКИЙ</a>
			</li>
		</ul>
	</section>
</body>
</html>