<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Переводчик мансийского языка</title>
	<link rel="icon" href="{{ url_for('static', path='images/Favicon.png') }}" type="image/png">
	<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
	<section class="pop_up__wrap">
		<div class="cross__wrap">
			<div class="icon_button cross">
				<a href="/">
					<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_6_560)">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M59.1722 64L0 4.82782L4.82781 1.50135e-06L64 59.1722L59.1722 64Z" fill="#0E0909"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M64 4.82781L4.82782 64L1.18773e-06 59.1722L59.1722 0L64 4.82781Z" fill="#0E0909"/></g><defs><clipPath id="clip0_6_560"><rect width="64" height="64" fill="white"/></clipPath></defs>
					</svg>
				</a>
			</div>
		</div>
		<div class="window_pop_up__wrap">
			<div class="pop_up_content">
				<h1>Оцените перевод</h1>
				<ul>
					<li>
						<a id="star_1" onclick="sendRating('star_1')">
							<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M32 1L39.5542 24.2999H64L44.2229 38.7001L51.7771 62L32 47.5999L12.2229 62L19.7771 38.7001L0 24.2999H24.4458L32 1Z" fill="#0E0909"/>
							</svg>
						</a>
					</li>
					<li>
						<a id="star_2" onclick="sendRating('star_2')">
							<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M32 1L39.5542 24.2999H64L44.2229 38.7001L51.7771 62L32 47.5999L12.2229 62L19.7771 38.7001L0 24.2999H24.4458L32 1Z" fill="#0E0909"/>
							</svg>
						</a>
					</li>
					<li>
						<a id="star_3" onclick="sendRating('star_3')">
							<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M32 1L39.5542 24.2999H64L44.2229 38.7001L51.7771 62L32 47.5999L12.2229 62L19.7771 38.7001L0 24.2999H24.4458L32 1Z" fill="#0E0909"/>
							</svg>
						</a>
					</li>
					<li>
						<a id="star_4" onclick="sendRating('star_4')">
							<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M32 1L39.5542 24.2999H64L44.2229 38.7001L51.7771 62L32 47.5999L12.2229 62L19.7771 38.7001L0 24.2999H24.4458L32 1Z" fill="#0E0909"/>
							</svg>
						</a>
					</li>
					<li>
						<a id="star_5" onclick="sendRating('star_5')">
							<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M32 1L39.5542 24.2999H64L44.2229 38.7001L51.7771 62L32 47.5999L12.2229 62L19.7771 38.7001L0 24.2999H24.4458L32 1Z" fill="#0E0909"/>
							</svg>
						</a>
					</li>
				</ul>
				<p>Оцените качество перевода от 1 до 5 (где 1 — неверный перевод, а 5 — совершенно точный переод)</p>
				<h2>Заранее спасибо за оценку!</h2>
			</div>
		</div>
	</section>
	<script>		
		function sendRating(star) {
			const id = document.getElementById(star).id
			if (id === 'star_1' || id === 'star_2' || id === 'star_3'){
				if (confirm('Спасибо за оценку! Помогите сделать переводчик лучше. Добавьте фразу и перевод на следующей странице')){
					window.location.href = '/add_translation?type=phrase';
				}
			} else if (id === 'star_4' || id === 'star_5') {
				alert('Cпасбо за оценку, мы старались именно для вас!');
				window.location.href = '/';
			}
		}		
	</script>
</body>
</html>